.iconContainer {
  /* border-radius: 50%; */
  background-color: #c89666;
  max-width: 82%;
  /* border: 1px solid #12343b; */
  border-radius: 40px;
  padding: 20px;
}
.iconContainer img {
  max-width: 82%;
  object-fit: cover;
}
.hide h5{
  color: #e2a66c;
  transition:0.5s;
}
.processIconHover {
  max-width: 82%!important;
}
.hide {
  display: none;
}

.iconContainer:hover {
  background-color: #12343b;
  cursor: pointer;
  color: #fff;
}
.iconContainer:hover .hide{
  display: block;
}
.iconContainer:hover .myDIV{
  display: none;
}
.iconContainer:hover .processIcon {
  opacity: 0;
}
.iconContainer:hover + .hide {
  position: absolute;
  top: 0;
  display: block;
}

.processSection {
  justify-content: center;
  padding: 0px;
}
.rightIcon {
  position: absolute;
  top: 50%;
  right: 20%;
  bottom: 0;
}
.rightIcon i {
  position: absolute;
  top: 0;
  left: 16px;
}
.rightIcon i {
  position: absolute;
  top: 0;
  left: 20px;
}
.col-md-2:not(:last-child) .rightIcon::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  left: 8px;
  top: 7px;
  color: black;
  background-color: black;
}
.col-md-2:not(:last-child) .rightIcon::after {
  position: absolute;
  content: "";
  width: 7px;
  top: 7px;
  right: -40px;
  left: 40px;
  height: 2px;
  color: black;
  background-color: black;
}
.col-md-2:last-child .rightIcon {
  display: none;
}
.cont {
  position: relative;
}
.numberIcon {
  display: none;
}
@media only screen and (max-width: 768px) {
  .rightIcon {
    display: none;
  }
  .numberIcon {
    display: block;
    padding: 15px;
    border-radius: 50%;
    background-color: #12343b;
    color: #e1b382;
    left: 50%;
    top: 93%;
    position: absolute;
  }
  .iconContainer{
    margin: auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .iconContainer h5{
    font-size: 14px;
  }
}
