/* .portfolioFlipCards{
    height: 150px!important;
} */
.carousel.carousel-slider {
    overflow: initial !important;
}

.control-dots {
    bottom: -30px;
}
.carousel .carousel-slider .control-arrow:hover {
    background: transparent!important;
}
.carousel .control-next {
    /* Add your styles here */
}

.carousel .control-prev {
    /* Add your styles here */
}